<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">

<h1>ADMIN LOGIN</h1>
<br>
<form action="/posts/admin" method="POST" encType="multipart/form-data">

<div class="field">
     <label>ADMIN Password</label>
  <p class="control has-icons-left">
    <input class="input" name="password" type="password" placeholder="Password">
    <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
  </p>
</div>
<div class="field">
  <p class="control">
    <button class="button is-success">
      Login
    </button>
  </p>
</div>
</form>
  </div>
  </div>
</section>
