
<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
     Do you have the access?
      </h1>
      <br>
      <h2 class="subtitle">
          <a href="/auth/login">
          <button class="button is-primary is-light">LOGIN</button>
          </a>
          <a href="/auth/register">
          <button class="button is-danger is-inverted">Sign-Up</button>
          </a>
       {{!-- <button class="button is-large is-fullwidth">LOGIN</button>
<button class="button is-large is-fullwidth">Sign-Up</button> --}}
      </h2>
    </div>
  </div>
</section>

