<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">

<h1>LOGIN</h1>
<br>
<form action="/users/login" method="POST" encType="multipart/form-data">
<div class="field">
     <label>Email</label>
  <p class="control has-icons-left has-icons-right">
    <input class="input" name="email" type="email" placeholder="Email">
     
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
  </p>
</div>
<div class="field">
     <label>Password</label>
  <p class="control has-icons-left">
    <input class="input" name="password" type="password" placeholder="Password">
    <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
  </p>
</div>
<div class="field">
  <p class="control">
    <button class="button is-success">
      Login
    </button>
  </p>
</div>
</form>
  </div>
  </div>
</section>
